body {
    width: 80%;
    padding: 50px 10%;
} // End of body

.disclaimer {
    font-size: 15px;

    img {
        height: 15px;
    } // End of .disclaimer img
} // End of .disclaimer

.route {
    &_container {
        width: 80%;
        margin-left: 10%;
        padding: 30px;
        left: 0px;

        p {
            width: 100%;
            margin-left: 0%;
        } // End of .route_container p
    } // End of .route_container

    &_selector {
        font-size: 16px;
        border-radius: 26px;
    } // End of .route_selector
} // End of .route

.directions {
    &_label {
        width: fit-content;
    } // End of .directions_label

    &_label + &_input {
        margin-left: 30%;
    } // End of .directions_label + .directions_input
} // End of .directions
