@media screen and (min-width: 1440px) {
    .route-container p {
        width: 50%;
        margin-left: 20%;
    }

    .directions-container {
        width: 50%;
        margin: 25px 20%;
    }

    .stops-container {
        width: 50%;
        padding: 0 30px;
    }
}